<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spendings</title>
</head>
<body>
{% if spendings %}
    <ul>
        {% for spending in spendings %}
            <li>
                <a href='{% url "spendings:spending_details" spending.id %}'>{{spending}}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% include 'add_spending_form.html' %}
</body>
</html>